
.setbordertb {
    border: thin solid white; 
    border-width:1px 0px 1px 0px ;
}
.textshadow {
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
}
.nounderline {
    
    text-decoration: none !important;
  }

.textstroke-white {
  -webkit-text-stroke: 1px white;
}
.textstroke-blue {
  -webkit-text-stroke: 1px blue;
}

.bg-blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.bg-1 {
  background-color: rgb(156, 184, 238, 0.651);
}

.text-grey {
  /*color: #959094;*/
  color: rgb(65, 64, 64);
}

.text-color-asanka {
  color: #c30b0e;
}

.modal {
  display: none;
  position:absolute;
  width: 300px;
  top:auto;
  left: auto;
  box-shadow: rgb(196, 14, 17);
  
}

.close {
  position:absolute;
  width: 30px;
  top: 20px;
  right: 20px;
}

.close:hover,
.close:focus {
  color: #da0909;
  text-decoration: none;
  cursor: pointer;
}

.photoresize { 
  width: 100px !important;
  height: 100px !important;
}