{% extends "ncs/layout.html" %}
{% load static %}

{% block body %}

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 p-3 bg-1 border">
            <div class="col-lg-6 col-md-6 mb-5 mb-lg-0">
                <div class="text-center">
                    <img src="/static/ncs/images/asanka_device5.png" width="280px">                  
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-5 mb-lg-0 ">
                <div class="">
                    <h5><a class="nounderline" href="https://myasanka.com/" target="_blank">What is ASANKA?</a></h5> 
                    <p class="text-grey">
                        ASANKA connects offline learners to local content for free. It is a low cost, low powered (5-Watts), durable (metal case) system that shares any content you decide using WiFi (without internet). You can load your own content or purchase with preloaded 
                        <strong>local content </strong> 
                        & curriculum (<strong>available country list</strong>). 
                        And ASANKA Analytics* gives decision-makers evidence-based educational tools to improve teaching & learning outcomes.
                    </p>

                    <p class="text-grey">
                        One ASANKA can support 30 connections (for best performance) without incurring data or any other costs.
                    </p>

                    <p class="text-grey">
                        ASANKA is the Ghanaian word for “community bowl” and this ASANKA invites you to a virtual "community bowl" of free information for all.
                    </p>
                    
                </div>
            </div>
        </div>

        <!--<a class="btn btn-primary btn-xl" href="#about">Find Out More</a> -->              
    </div>
{% endblock %}