{% extends "ncs/layout.html" %}
{% load static %}

{% block body %}

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 p-3 bg-1 border">
            <div class="col-lg-6 col-md-6 mb-5 mb-lg-0">
                <div class="text-center">
                    <img src="/static/ncs/images/asanka_device5.png" width="280px">                  
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-5 mb-lg-0 ">
                <div class="border-bottom">
                    <h5 class="border-bottom"><a class="nounderline" href="https://myasanka.com/" target="_blank">What is ASANKA?</a></h5> 
                    <p class="text-grey">
                        ASANKA connects offline learners to local content for free. It is a low cost, low powered (5-Watts), durable (metal case) system that shares any content you decide using WiFi (without internet). You can load your own content or purchase with preloaded 
                        <strong class="text-color-asanka" id="local-content-label" >local content </strong> 
                        <span class="modal" id="local-content" tabindex="-1" role="dialog">
                            <span class="modal-dialog" role="document">
                                <span class="modal-content">
                                    <span class="modal-header h4">Local content </span>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <span class="modal-body">
                                        <span>Local content is relevant educational resources that validate local culture, local language and local religious traditions for learners. While at the same time providing them with the necessary skills to become more productive, well-educated individuals with greater opportunities to prosper in a competitive global job market and to advance economically & socially in society.</span>
                                    </span>
                                    <span class="modal-footer">
                                        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                                    </span>
                                </span>
                            </span>
                        </span>
                        & curriculum (<strong class="text-color-asanka" id="country-list-lebel">available country list</strong>).
                        <span class="modal" id="country-list" tabindex="-1" role="dialog">
                            <span class="modal-dialog" role="document">
                                <span class="modal-content">
                                    <span class="modal-header h4">Country list </span>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <span class="modal-body">
                                        <span class="d-block">• Ghana</span>
                                        <span class="d-block">• Gambia</span>
                                        <span class="d-block">• Haiti</span>
                                        <span class="d-block">• Liberia</span>
                                        <span class="d-block">• Other African Countries (coming soon)</span>

                                    </span>
                                    <span class="modal-footer">
                                        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                                    </span>
                                </span>
                            </span>
                        </span>
                        And ASANKA Analytics* gives decision-makers evidence-based educational tools to improve teaching & learning outcomes.
                    </p>

                    <p class="text-grey">
                        One ASANKA can support 30 connections (for best performance) without incurring data or any other costs.
                    </p>

                    <p class="text-grey">
                        ASANKA is the Ghanaian word for “community bowl” and this ASANKA invites you to a virtual "community bowl" of free information for all.
                    </p>


                    
                </div>
            </div>
        </div>

        <!--<a class="btn btn-primary btn-xl" href="#about">Find Out More</a> -->              
    </div>
{% endblock %}