{% extends "ncs/layout.html" %}
{% load static %}

{% block body %}

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 p-1 bg-1 border">
            <h2>Contact us!</h2>
  
            <form>
                <hr>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Site survey</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Intranet</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <label class="form-check-label" for="inlineRadio1">webapp</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                    <label class="form-check-label" for="inlineRadio2">ASANKA</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option5" disabled>
                    <label class="form-check-label" for="inlineRadio3">other (disabled)</label>
                </div>
                <hr>
                <div class="form-group">
                    <!--<label for="exampleFormControlInput1">Email address</label>-->
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>

                <div class="form-group  pt-3">
                    <!--<label for="exampleFormControlTextarea1">Example textarea</label>-->
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
                </div>

                <button type="submit" class="btn btn-primary mb-2 mt-3">Send e-mail</button>
            </form>
        </div>
        <div class="row gx-4 gx-lg-5 p-3 bg-1 border text-center">
            <div class="col-lg-12 col-md-12 mb-3 mb-lg-0">
                <div class="">
                    <div>3 rue Lamartini&egrave;re, Hinche, Haiti, HT5110</div> 
                    <div><i class="icon-phone"></i>+509 4899 0667</div>  
                    <!--<div><a class="nounderline text-white" href="mailto:rico.mondesir@gmail.com">info@nandcs.com</a></div>-->                </div>                
            </div>
            
        </div>
        <!--<a class="btn btn-primary btn-xl m-3 p-3" href="#about">Find Out More</a>-->
    </div>
    
{% endblock %}