{% extends "ncs/layout.html" %}
{% load static %}

{% block body %}

    <div class="container px-4 px-lg-5 text-center">
        <dic class="textstroke-white">
            <h3>4 rue Lamartiniere, Hinche</h3> <br>
            <h3>Tel: +509 4899 0667</h3> <br>
            <h3>Tel: +509 3775 5788</h3> <br>
            <h3><a class="nounderline" href="mailto:rico.mondesir@gmail.com">info@nandcs.com</a></h3>
        </dic>
        <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>               
    </div>
{% endblock %}