{% extends "ncs/layout.html" %}
{% load static %}

{% block body %}
        <div class="container px-4 px-lg-5 text-center">
            <div class="textstroke-white" style="-webkit-user-select: none;-ms-user-select: none;user-select: none;">
                <h1 class="mb-1">N&C Solution</h1>
                <h2 class="setbordertb ">Network and Computer Solution</h2>
                <h3 class="mb-5"><em>Your IT Solution!</em></h3>                
            </div>

            <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>               
        </div>

        <!-- Services
        <section class="content-section bg-primary text-white text-center" id="services">-->

            <!-- Services
        </section>-->
{% endblock %}