{% extends "ncs/layout.html" %}
{% load static %}

{% block body %}
        <!-- Services
        <section class="content-section bg-primary text-white text-center" id="services">-->
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading">
                    <h3 class="text-secondary mb-0">Services</h3>
                    <h2 class="mb-5">What We Offer</h2>
                </div>
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-notebook"></i></span>
                        <h4><strong>IT Survey</strong></h4>
                        <p class="text-faded mb-0">Assess your current IT infrastructure.</p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-feed"></i></span>
                        <h4><strong>Intranet</strong></h4>
                        <p class="text-faded mb-0">Wireless infrastructure for showroom interconnection.</p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-globe"></i></span>
                        <h4><strong>Web app</strong></h4>
                        <p class="text-faded mb-0">
                             Build the perfect wedapp tool
                            <!--<i class="fas fa-heart"></i>-->
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-book-open"></i></span>
                        <h4><strong>ASANKA LMS/CMS</strong></h4>
                        <p class="text-faded mb-0">Connecting Offline Learners to Local Content</p>
                    </div>
                </div>
            </div>
            <!-- Services
        </section>-->
{% endblock %}