{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Rico MONDESIR" />
    <title>{% block title %}NCS{% endblock %}</title>
    <!--Script for bootstrap 
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    -->
        
    <!--
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        -->
    <!--script for bootstrap dropdown menu
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
        -->

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/ncs/static/ncs/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Simple line icons-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
        rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
        rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->

    <!-- Bootstrap core JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- Core theme JS -->
    <script src="../ncsolution/ncs/static/ncs/css/scripts.js"></script>
    <script src="../ncsolution/ncs/static/ncs/css/scripts1.js"></script> 
        
    <!--
    <script src="{% static '/ncs/css/scripts.js' %}"></script>
    <script src="{% static '/ncs/css/scripts1.js' %}"></script> -->
    
    <!--local css files -->
    <link rel="stylesheet" href="{% static '/ncs/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '/ncs/css/styles1.css' %}">

</head>

<body id="page-top">
    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#page-top">N&C Solution</a></li>
            <li class="sidebar-nav-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="sidebar-nav-item"><a href="#about">About</a></li>
            <li class="sidebar-nav-item"><a href="#services">Services</a></li>
            <li class="sidebar-nav-item"><a href="#portfolio">Portfolio</a></li>
            <li class="sidebar-nav-item"><a href="{% url 'team' %}">Team</a></li>
            <li class="sidebar-nav-item"><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>

    <!-- Header-->
    <header class="masthead d-flex align-items-center">
        {% block body %}
        {% endblock %}
    </header>

    <!-- About-->
    <section class="content-section bg-light" id="about">
        <div class="container px-4 px-lg-5 text-center">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-10">
                    <h1>N&C Solution</h1>
                    <h2>is the perfect IT solution for your school and company!</h2>

                    <p class="lead mb-5">
                        we have the right IT solution for your school and business.
                        <a href="#">Just request a site suvery</a>
                        !
                    </p>
                    <a class="btn btn-dark btn-xl" href="#services">What We Offer</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Services-->
    <section class="content-section bg-primary text-white text-center" id="services">
        <div class="container px-4 px-lg-5">
            <div class="content-section-heading">
                <h3 class="text-secondary mb-0">Services</h3>
                <h2 class="mb-5">What We Offer</h2>
            </div>
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <a class="nounderline" href="#itsurvey">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-notebook"></i></span>
                    </a>
                    <h4><strong>IT Survey</strong></h4>
                    <p class="text-faded mb-0">Assess your current IT infrastructure.</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <a class="nounderline" href="#intranet">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-feed"></i></span>
                    </a>
                    <h4><strong>Intranet</strong></h4>
                    <p class="text-faded mb-0">Wireless infrastructure for showrooms interconnection.</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                    <a class="nounderline" href="#webapp">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-globe"></i></span>
                    </a>
                    <h4><strong>Web app</strong></h4>
                    <p class="text-faded mb-0">
                        Build the perfect online tool, for your company operations.
                        <!--<i class="fas fa-heart"></i>-->
                    </p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a class="nounderline" href="#asanka">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-book-open"></i></span>
                    </a>
                    <h4><strong>ASANKA</strong></h4>
                    <p class="text-faded mb-0">Connecting Offline Learners to Local Content</p>
                </div>
            </div>
        </div>

    </section>

    <!-- Portfolio-->
    <section class="content-section" id="portfolio">
        <div class="container px-4 px-lg-5">
            <div class="content-section-heading text-center">
                <h3 class="text-secondary mb-0">Portfolio</h3>
                <h2 class="mb-5">Recent Projects</h2>
            </div>
            <div class="row gx-0 textshadow">
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#!" id="itsurvey">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2" >IT Survey</div>
                                <p class="mb-0">Assess your current and future IT need. Get best analyze and proposal
                                    for your IT infrastructure development!</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="/static/ncs/images/makson_tower.jpeg" alt="..." />
                    </a>
                </div>
                <div class="col-lg-6 textshadow">
                    <a class="portfolio-item" href="#!" id="intranet">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2" >Intranet</div>
                                <p class="mb-0">Manage interconnection between your businesses showrooms. Build a
                                    Wireless Network infrastructure for organization</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="/static/ncs/images/makson_tower2.jpeg" alt="..." />
                    </a>
                </div>
                <div class="col-lg-6 stextshadow">
                    <a class="portfolio-item" href="#!" id="webapp">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2" >Web app</div>
                                <p class="mb-0">Develop the right tools for you daily operations. Use Python/Django or
                                    ASP.NET/C#</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="/static/ncs/images/webapp.jpeg" alt="..." />
                    </a>
                </div>
                <div class="col-lg-6 textshadow">
                    <a class="portfolio-item" href="{% url 'asanka' %}" id="asanka">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2" >ASANKA</div>
                                <p class="mb-0">Connects offline learners to local content. One ASANKA can support 30
                                    connections .</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="/static/ncs/images/asanka_perspective2.jpg" alt="..." />
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to Action-->
    <section class="content-section bg-primary text-white">
        <div class="container px-4 px-lg-5 text-center">
            <h2 class="mb-4">Take the right decision for your business development!</h2>
            <a class="btn btn-xl btn-light me-4" href="{% url 'contact' %}">Contact us!</a>
            <!-- <a class="btn btn-xl btn-dark" href="#!">Look at Me!</a> -->
        </div>
    </section>

    <!-- Map-->
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.212648373973!2d-72.00517792267!3d19.142166832534876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eb733815af99fb9%3A0x45e99dac9ffef71d!2sRue%20Lamartiniere%2C%20Hinche!5e0!3m2!1sen!2sht!4v1681613380562!5m2!1sen!2sht"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

    <!-- Footer-->
    <footer class="footer text-center">
        <div class="container px-4 px-lg-5">
            <ul class="list-inline mb-5">
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="#!"><i
                            class="icon-social-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="#!"><i
                            class="icon-social-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white" href="#!"><i class="icon-social-github"></i></a>
                </li>
            </ul>
            <p class="text-muted small mb-0">Copyright &copy; {% now 'Y' %} | N&C Solution</p>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
    <!-- Bootstrap core JS 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    -->    
    <!-- Core theme JS 
        <script src="/ncs/static/ncs/css/scripts.js"></script>-->
</body>

</html>