{% extends "ncs/layout.html" %}
{% load static %}

{% block body %}

    <div class="container px-4 px-lg-5 text-center text-white">
        <div class="row gx-4 gx-lg-5 p-3">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0 ">
                <div class="">
                    <h5>Ralph ETIENNE</h5> 
                    <div>Chief Executive Officer (CEO)</div> 
                                         
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0 ">
                <div class="">
                    <h5>Rico MONDESIR</h5> 
                    <div>Chief Technology Officer (CTO)</div> 
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0 ">
                <div class="">
                    <h5>Carelle CHARLES</h5> 
                    <div>Chief Financial Officer (CFO)</div> 
                                      
                </div>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 p-3">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0 ">
                <div class="">
                    <h5>Garal ELIE</h5> 
                    <div>Chief Operating Officer (COO)</div> 
                                         
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0 ">
                <div class="">
                    <h5>Ta&Iuml;na CHARLES</h5> 
                    <div>Office manager</div> 
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0 ">
                <div class="">
                    <h5>Djenica DERVILUS</h5> 
                    <div>Operations manager</div> 
                                       
                </div>
            </div>
        </div>

        <!--<a class="btn btn-primary btn-xl" href="#about">Find Out More</a> -->              
    </div>
{% endblock %}